<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chanter Webapp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="./libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="styleSheet" href="./css/main.css" />
  <link href="/favicon.ico" rel="icon">
  <script type="text/javascript" src="./libs/vue.js"></script>
  <script type="text/javascript" src="./libs/vuex.js"></script>
  <script type="text/javascript" src="./libs/vue-router.js"></script>
  <script type="text/javascript" src="./scripts/components/module.js"></script>
  <script type="text/javascript" src="./scripts/components/baseline.js"></script>
  <script type="text/javascript" src="./scripts/components/attribute.js"></script>
  <script type="text/javascript" src="./scripts/components/requirement.js"></script>
  <script type="text/javascript" src=".//libs/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="./libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="app">
  <div class="sidenav">
    <!-- What I really want here is to display the routes for each modules -->
    <router-link to="/home"><span class="glyphicon glyphicon-home"></span> Home</router-link>
    
    <!-- Display the modules -->
    <div v-for="module in this.$store.state.modules" :key="module.id">
      <router-link :to="'/modules/' + module.id">
        <span class="glyphicon" :class="{ 'glyphicon-plus':!module.expanded, 'glyphicon-minus': module.expanded }"></span>
        {{ module.name }}</router-link>
    
      <div class="submenu" v-show="module.expanded">
        <!-- Display the baselines for module here -->
        <router-link :to="'/modules/' + module.id + '/baselines/' + baseline.id" v-for="baseline in module.baselines" :key="baseline.id">
          <span class="glyphicon glyphicon-asterisk"></span>{{ baseline.name }}</router-link>
      </div>
    </div>
    <router-link to="/about"> About</router-link>
  </div>
  <div class="main container">
    <h1>Chanter Requirements Management System</h1>
    <router-view class="container"></router-view>
  </div>
  </div>
</body>
<script type="text/javascript" src="./scripts/main.js"></script>
</html>